GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=XrExE9yKIg1WjnnlVkGX
ELEVENLABS_MODEL_ID=eleven_flash_v2_5
ELEVENLABS_OUTPUT_FORMAT=mp3_44100_128

JWT_SECRET=

NEXT_PUBLIC_APP_URL=http://localhost:3000
